<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <global-method-security pre-post-annotations="enabled" secured-annotations="enabled"/>

    <http pattern="/user/login" security="none"/>

    <http pattern="/**" entry-point-ref="fireworkAuthenticationEntryPoint" create-session="stateless">
        <csrf disabled="true"/>
        <custom-filter before="FORM_LOGIN_FILTER" ref="fireworkAuthenticationFilter"/>
        <access-denied-handler ref="fireworkAccessDeniedHandler"/>
    </http>

    <beans:bean id="fireworkAuthenticationFilter"
                class="cn.fireworkstudio.admin.security.filter.FireworkAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationSuccessHandler" ref="fireworkAuthenticationSuccessHandler"/>
        <beans:property name="authenticationFailureHandler" ref="fireworkAuthenticationFailureHandler"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="fireworkAuthenticationProvider"/>
    </authentication-manager>
</beans:beans>